@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
h1{
    font-size: 40pt;
    margin-bottom: 90px;
}
h2{
    font-size: 50px;
}
header{
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 200px;
}
header img{
    width: 150px;
}
header nav{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    font-weight: 700;
    
}
nav a{
    color: #000;
}
nav .login{
    background-color: #E60023;
    color: #fff;
}
nav .register{
    background-color: #d1d0d0;
    width: 90px;
}
i{
    margin-left: 20px;
    font-size: 60px;
    color:#E60023; ;
}
section{
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
}
.content{
    max-width: 80vw;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    max-width: 400px;
}
.home{
    justify-content: center;
}
.search{
    background-color: #FFFD92;
    color: #c31952;
}
.save{
    background-color: #dafff6;
    color: #006b6c;
}
.create{
    background-color:#FFE2EB;
    color: #c32f00;
}
.create img{
    height: 100vh;
    float: left;
}
.button{
    width: 60px;
    font-weight: 700;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
}
.buttonSearch{
    background: #c31952;
    color:#FFFD92;
}
.buttonSave{
    background: #006b6c;
    color:#dafff6;
}
.buttonCreate{
    background: #c32f00;
    color: #FFE2EB ;
}

