body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
#conteudo{
    width: 70vw;
    margin: 0 auto;
}
header{
    text-align: center;
}
#logo{
    width: 150px;
}
#tituloSite{
    padding: 20px;
    background-color:#228609;
    text-align: center ;
    color: #fff;
}
p{
    text-align: justify;
    text-indent: 60px;
}
.pDestaque{
    font-style: italic;
    color: #6d6b6a;
}
img{
    max-width: 70vw;
}
footer{
    background-color: #2286099d;
    text-align: center;
    padding: 1%;
}